@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.dice {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  perspective: 1000px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.dice-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform-style: preserve-3d;
  font-size: 12px; /* Adjust font size if needed */
  text-align: center;
  padding: 1px; /* Add some padding to avoid text overflowing */
  transition: transform 1s ease-in-out; /* Add transition property */
}

.dice.rolling .dice-inner {
  animation: spin 1s linear; /* Add animation only when rolling class is present */
  animation-fill-mode: forwards;
}
