body {
  margin: 0;
  font-family: sans-serif;
  background-color: #222;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
  color: #fff;
}

.App-header {
  margin-bottom: 20px;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
}

.roll-button {
  font-size: 1.2em;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #fff;
  color: #222;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
  background-image: url("./images/Hario_Logo.png"); /* Add the path to your logo image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.roll-button:hover {
  background-color: #eee;
  color: #111;
}

.rolling .dice-inner {
  animation: spin 3s linear;
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(2160deg) rotateY(1440deg);
  }
}

.roll-button.disabled {
  cursor: not-allowed;
  background-color: #ddd;
  color: #999;
}

.roll-button:active {
  transform: translateY(3px);
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1), 0 1px 3px rgba(255, 0, 0, 0.08);
  background-color: #ff2f2f;
}

.roll-button.blur {
  filter: blur(0.5px);
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}

.dice.rolling {
  animation: rolling 4s;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 5px solid #f6f3f0;
  transform-style: preserve-3d;
  background: linear-gradient(145deg, #fff, #dddbd8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.face span {
  position: absolute;
  transform: translateZ(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #131210;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.face-1 {
  transform: translateZ(50px);
}

.face-2 {
  transform: rotateX(180deg) translateZ(50px);
}

.face-3 {
  transform: rotateX(90deg) translateZ(50px);
}

.face-4 {
  transform: rotateX(-90deg) translateZ(50px);
}

.face-5 {
  transform: rotateY(90deg) translateZ(50px);
}

.face-6 {
  transform: rotateY(-90deg) translateZ(50px);
}
